
.game {
    text-align: center;
    font-family: system-ui;
    color: white; 
    margin: auto;
    width: 620px;
    font-size: x-large;
    

}
.title {
    background: rgb(156, 38, 93);
    padding: 5px 20px;
    margin: 5px 0px;
    font-weight: bold;
    
}


.square {
    width: 200px;
    height: 180px;
    background:cornflowerblue;
    float: right;
    margin: 2px;
    font-weight: bold;
    text-align: center;
}
.square:hover{

    cursor: pointer;
    background-color: rgb(122, 127, 138);
    
}
